# JWT
JWT_SECRET_KEY=

# MySQL DB
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# OpenAI
OPENAI_API_KEY=

# Google Gemini
GEMINI_API_KEY=

# VITO STT (리턴제로)
VITO_CLIENT_ID=
VITO_CLIENT_SECRET=

# Naver Clova Speech
CLOVA_SPEECH_API_URL=
CLOVA_API_KEY=
