# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
*.iml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/
.vscode-test

# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.manifest
*.spec

.venv/
venv/
ENV/
env/

.coverage
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/

# =========================
# Node / Next / React
# =========================
node_modules/
.pnp
.pnp.js

.next/
out/
.nuxt/
dist/
build/

coverage/
.nyc_output

.parcel-cache
.cache
.temp
.docusaurus

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

*.tsbuildinfo
next-env.d.ts

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# Env / Security
# =========================
.env
.env.*
.env*.local
!.env.example

*.pem
*.key
*.secret
vito_jwt_token.json

# =========================
# Runtime
# =========================
pids
*.pid
*.pid.lock
*.seed
*.sock
*.db-journal

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# Upload / Temp
# =========================
tmp/
temp/
uploads/
media/

.claude
